<div class="external-user-session">
  <h2><%= t(:your_account_has_now_been_locked) %></h2>

  <div class="form-actions">
    <%= link_to "Visit Homepage", root_path, :class => "btn btn-success" %>
  </div>
  
</div>